body
{
   text-align: center;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;  
    text-align: right;
    font-size: 120%;;
    
}
ul li
{
    display: inline;
    margin: 1%;
    height: 100%;
  
}
ul li a
{
    text-decoration: none;
    color: black;
}
#apps_icon
{  
    
    width: 25px;
    height: 25px;

}
body
{
    text-align: center;
    
  
}
#google_logo
{
    margin: auto;
    width: 20%;
    margin-top: 10%;
    
}
#search_input
{  
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 2%;
    
}

ul li a:hover
{
    text-decoration: underline;
    color: black;
}
